{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/similarity-checker.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <title>Similarity Checker</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/Logo_kementerian_keuangan_republik_indonesia 1.png' %}">
  </head>

  <body>
  <!-- Navbar -->
  {% block navbar %}
    {% include './items/navbar.html' %}
  {% endblock %}
  
  <!-- MAIN -->
  <section>
    <div class="container-fluid">
    <div class="container-fluid" style="height: 843px;">
      <div class="row d-flex justify-content-center">

        <!-- Title -->
        <div class="col-md-12 text-center">
          <h1 style="font-size: 32px; font-weight: 700; padding-top: 53px; padding-bottom: 39px;">VERIFIKASI MANUAL</h1>
        </div>

        <!-- Table for InstagramCaptions -->
        <div class="col-md-10" style="background-color: #C7EEFF; height: 588px; border-radius: 12px;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Account</th>
                <th>Agenda</th>
                <th>Caption</th>
                <th>Posted Date Time</th>
              </tr>
            </thead>
            <tbody>
              {% for caption in captions %}
                <tr>
                  <td>{{ caption.account }}</td>
                  <td>{{ caption.agenda }}</td>
                  <td>{{ caption.caption }}</td>
                  <td>{{ caption.posted_date_time }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <!-- footer -->
  {% block footer %}
  {% include './items/footer.html' %}
  {% endblock %}

  </body>
</html>
