{% if error %}
  <p>{{ error }}</p>
{% endif %}

{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/similarity-checker.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.js"></script>

    <title>Similarity Checker</title>
    <link rel="icon" type="image/x-icon" href="../static/img/Logo_kementerian_keuangan_republik_indonesia 1.png">
  </head>

  <body>
  <!-- Navbar -->
  {% block navbar %}
    {% include './items/navbar.html' %}
  {% endblock %}
  
  <!-- MAIN -->
  <section>
    <div class="container-fluid">
    <div class="container-fluid" style="height: 843px;">
      <div class="row d-flex justify-content-center">

        <!-- Title -->
        <div class="col-md-12 text-center">
          <h1 style="font-size: 32px; font-weight: 700; padding-top: 53px; padding-bottom: 39px;">VERIFIKASI MANUAL</h1>
        </div>

        <!-- Form for Manual Verification -->
        <div class="col-md-10" style="background-color: #C7EEFF; height: 588px; border-radius: 12px;">
          <div style="padding: 20px 63px 0px 63px;">
            <form method="POST">
              {% csrf_token %}
              <div class="pb-3">
                <label for="text" class="form-label">Text Postingan</label>
                <textarea class="form-control" id="text" rows="4" readonly>Dalam Jalur Kerja Sama Keuangan Keketuaan ASEAN 2023, Kemenkeu RI mengawal 16 Priority Economic Deliverables (PEDs). Apa saja prioritas kerja yang dibahas dan coba diwujudkan sepanjang Keketuaan ASEAN Indonesia 2023 ini? Mari kita cek lebih jauh. Geser ke kiri ya!#ASEANIndonesia2023 #EpicentrumofGrowth #ASEANMatter</textarea>
              </div>
              <div class="pb-3">
                <label for="topic" class="form-label">Topic</label>
                <input type="text" class="form-control" id="topic" name="topic" value="Priority Economic Deliverables (PEDs)" readonly>
              </div>
              <div class="pb-3">
                <label for="kunci" class="form-label">Pesan Kunci</label>
                <input type="text" class="form-control" id="kunci" name="kunci" value="Priority Economic Deliverables (PEDs)" readonly>
              </div>
              <div class="pb-3">
                <label for="subkunci" class="form-label">Sub Pesan Kunci</label>
                <input type="text" class="form-control" id="subkunci" name="subkunci" value="ASEAN Indonesia 2023" readonly>
              </div>
              <div class="row">
                <div class="col-6">
                  <label for="subkunci" class="form-label">Kesesuaian</label>
                  <select class="form-select" name="subkunci" id="subkunci" required>
                    <option value="" selected disabled hidden>Sesuai / Tidak Sesuai</option>
                    <option value="Sesuai">Sesuai</option>
                    <option value="Tidak Sesuai">Tidak Sesuai</option>
                  </select>
                </div>
                <div class="col-6">
                  <label for="catatan" class="form-label">Catatan</label>
                  <textarea class="form-control" id="catatan" rows="2"></textarea>
                </div>
              </div>
          </div>
        </div>

        <!-- Submit Form Button-->
        <div class="col-md-12 d-flex justify-content-center" style="padding-top: 18px;">
          <button class="btn-option" style="width: 287px; height: 48px; background: #EFB829; color: #0D5CAB; border-style: none;" type="submit" name="submit">Save</button>
        </div>
          </form>
          
      </div>
    </div>
  </section>

  <!-- footer -->
  {% block footer %}
  {% include './items/footer.html' %}
  {% endblock %}

  </body>
</html>