{% extends './items/base.html' %}

{% block css %}../static/css/dashboard.css{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block navbar %}{% include './items/navbar.html' %}{% endblock %}

{% block content %}
  <!-- MAIN -->
  <section>
    <div class="container-fluid" style="height: 568px;">
      <div class="row d-flex justify-content-center">
        
        <div class="col-md-5" style="padding-left: 90px; padding-top: 44px;">
          <div class="row d-flex justify-content-center">

            <div class="col-md-12" style="padding-bottom: 60px;">
              <div class="dropdown">
                <h1 style="font-size: 16px; font-weight: 400;">Unit Eselon 1</h1>
                <button class="btn btn-secondary dropdown-toggle shadow border-0" style="width: 280px; height: 60px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Pilih Unit Eselon 1
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">All</a></li>
                  <li><a class="dropdown-item" href="#">Kemenkeu</a></li>
                  <li><a class="dropdown-item" href="#">Setjen</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
            
          
            <div class="col-md-12">
              <h1 style="font-size: 32px; font-weight: 700; color: black; padding-bottom: 20px;">SELAMAT DATANG</h1>
              <p style="font-size: 20px; font-weight: 400; color: black;">Monitoring Agenda Setting merupakan aplikasi<br>monitoring seluruh kanal media sosial milik<br>Kementerian Keuangan di seluruh Indonesia yang<br>diawasi oleh Subbagian Riset dan Audit, Biro<br>Komunikasi dan Layanan Informasi, Kementerian<br>Keuangan Republik Indonesia.</p>
            </div>
          </div>
        </div>


        <div class="col-md-7" style="width: auto; padding: 66px 58px 66px 70px;">
          <img src="../static/img/juanda 1.png" style="max-width: 663px; max-height: 436px;" alt="">
        </div>

        
      </div>
    </div>
  </section>  

{% endblock %}