{% extends './items/base.html' %}

{% block css %}../static/css/home.css{% endblock %}
{% block title %}home{% endblock %}
{% block navbar %}{% include './items/navbar_guest.html' %}{% endblock %}

{% block content %}
  <!-- MAIN -->
  <section>
    <div class="container-fluid" style="height: 568px;">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-7" style="width: auto; padding: 66px 100px 66px 70px;">
          <img src="../static/img/juanda 1.png" style="max-width: 663px; max-height: 436px;" alt="">
        </div>
        <div class="col-md-5">
          <h1 style="font-size: 32px; font-weight: 700; color: black; padding-bottom: 20px;">SELAMAT DATANG</h1>
          <p style="font-size: 20px; font-weight: 400; color: black;">Monitoring Agenda Setting merupakan aplikasi<br>monitoring seluruh kanal media sosial milik<br>Kementerian Keuangan di seluruh Indonesia yang<br>diawasi oleh Subbagian Riset dan Audit, Biro<br>Komunikasi dan Layanan Informasi, Kementerian<br>Keuangan Republik Indonesia.</p>
        </div>
      </div>
    </div>
  </section>    
{% endblock %}