{% extends './items/base.html' %}

{% block css %}../static/css/login.css{% endblock %}
{% block title %}Login{% endblock %}
{% block navbar %}{% include './items/navbar_guest.html' %}{% endblock %}

{% block content %}

  <!-- MAIN -->
  <section>
    <div class="container-fluid" style="height: 567px;">
      <div class="row justify-content-center">

        <div class="col-md-12" style="height: 60px;"></div>

          <div class="col-md-12">
            <div class="card mx-auto" style="width: auto; max-width: 554px; height: 428px; border-radius: 12px; background-color: #C7EEFF; border-style: none;">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12" style="padding-top: 36px; padding-bottom: 25px;">
                    <h1 class="card-title text-center" style="font-size: 32px; font-weight: 700;">LOGIN</h1>
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-center align-items-center">
                      <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label for="email" class="form-label" style="font-size: 16px; font-weight: 400;">Email</label>
                          <input type="email" class="form-control justify-content-center" style="gap: 8px; width: 388px; height: 48px; border-radius: 12px; border: 1px solid #D4D7E3;" id="email" name="email" placeholder="example@email.com">
                        </div>
                        <div class="mb-3">
                          <label for="password" class="form-label" style="font-size: 16px; font-weight: 400;">Password</label>
                          <input type="password" class="form-control" style="gap: 8px; width: 388px; height: 48px; border-radius: 12px; border: 1px solid #D4D7E3;" id="password" name="password" placeholder="at least 8 characters">
                        </div>
                        {% comment %} <div class="text-center">
                          <a href="{% url 'forget_password' %}" style="font-size: 14px; color: black; text-decoration: none;">forget password?</a>
                        </div> {% endcomment %}
                        <div class="d-flex justify-content-center pt-2">
                          <button class="btn-option" type="submit" name="login">Login</button>
                        </div>                                      
                        {% if error %}
                          <div class="text-center pt-2">
                            <p style="color: red;">{{ error }}</p>
                          </div>
                        {% endif %}
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <div class="col-md-12" style="height: 79px;"></div>

      </div>
    </div>
  </section>
    
{% endblock %}